<% provide(:title, "Home") %>

<div class="mainCont">
    
    <%= image_tag("golf.jpg", alt:"Welcome Logo", :class=>"WelcomeIm") %>

<h1>Home Page</h1>
<p>This is the home page that I created a few moments ago. In order to create it I used the command - rails generate controller StaticPages home help about.</p>

</div>